/* Variable collection */
:root {
  /* Mode 1 */
  /* color */
  --blanc: #ffffff;
  --dore: #95793c;
  --jaune: #d3c756;
  --noir: #000000;
  /* number */
  --text-s: 16px;
  --text-m: 1.25rem;
  --text-xl: 1.875rem;
  /* string */
  --font-h2: Abril Fatface;
  --font-text: Inter;
  --font-titres: Abril Fatface;
}