/* Menu Button (Hamburger) */
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  z-index: 100;
}

.menu-btn__bar {
  width: 100%;
  height: 3px;
  background-color: var(--noir, #000);
  transition: var(--transition-normal, 0.3s);
  border-radius: var(--radius-sm, 0.25rem);
}

.menu-btn.active .menu-btn__bar:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.menu-btn.active .menu-btn__bar:nth-child(2) {
  opacity: 0;
}

.menu-btn.active .menu-btn__bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}
